@media (min-width: 45em) {
    :root {
    --primary-bg: #000000;
    --primary-text: #f5f5f5;
    --secondary-bg: #87CEEB;
    --accent: #ffd700;
    --join-btn-bg : #ff6347;
}

    #ham-button {
        display: none;
    }

    .navigation {
        flex: 1;
        width: 100%;
        justify-content: center;
    }

    .navigation a:hover {
        text-decoration: none;
        border: solid .25rem var(--primary-text);
    }

    .navigation ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }

    .company-spotlights .spotlight {
        flex-direction: row;
        align-items: center;
        text-align: left;
        gap: 1.5rem;
    }

    .company-spotlights .spotlight img {
        width: 300px;
        margin-bottom: 0;
    }

    .company-spotlights .spotlight {
        flex: 1;
    }
}