@media (min-width: 60em) {
    :root {
    --primary-bg: #000000;
    --primary-text: #f5f5f5;
    --secondary-bg: #87CEEB;
    --accent: #002244;
    --join-btn-bg : #ff6347;
}

    #ham-button {
        display: none;
    }

    .navigation {
        flex: 1;
        width: 100%;
        justify-content: center;
    }

    .navigation a:hover {
        text-decoration: none;
        border: solid .25rem var(--primary-bg);
    }

    .navigation ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }

    .home-sections,
    .spotlights-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 0.25rem;
    align-items: stretch;
    margin-top: 2rem;
    }

    .home-sections section {
        display: flex;
        flex-direction: column;
        padding: 2rem;
        border-radius: 6px;
        height: 100%;
    }

    .current-events {
        grid-column: 1/2;
        padding: 2rem;
    }

    .current-weather {
        grid-column: 2/3;
    }

    .weather-forecast {
        grid-column: 3/4;
    }

    .current-events .events-card,
    .current-weather .weather-box,
    .weather-forecast #forecast {
        flex: 1;
    }

    .spotlight {
        width: clamp(220px, 30vw, 350px);
        min-height: 200px;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
    }

    .spotlight-info {
        font-size: 1rem;
    }

    .spotlight-container {
        grid-template-columns:  repeat(3, minmax(220px, 340px));
    }

    .company-spotlight {
        display: grid;
        justify-content: center;
        margin: 1rem;
    }

    .spotlight-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    flex: 0 0 auto;
    }

    .spotlight-body img {
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 5px;
    }

    .company-spotlight .spotlight img {
        width: clamp(90px, 8vw, 140px);
        height: clamp(90px, 8vw, 140px);
        aspect-ratio: 1/1;
        object-fit: cover;
        margin: 0 auto;
    }

    .company-spotlight .spotlight {
        max-width: 700px;
        height: auto;
        align-self: start;
        margin: 0 auto;
        flex-direction: column;
        text-align: center;
    }

    .main-layout {
        display: grid;
        grid-template-columns: 1.2fr 1fr;
        align-items: start;
        gap: 3rem;
    }

    .conf fieldset {
        max-width: 100%;
    }


    .member-card {
        min-width: 300px;
    }
}