@media (min-width: 45em) {
    #ham-button {
        display: none;
    }

    .navigation {
        flex: 1;
        width: 100%;
        justify-content: center;
    }

    .navigation a:hover {
        text-decoration: none;
        border: solid .25rem #EEEEEE;
    }

    .navigation ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }
}