@media (min-width: 45em) {
    :root {
    --primary-bg: #000000;
    --primary-text: #f5f5f5;
    --secondary-bg: #87CEEB;
    --accent: #ffd700;
    --join-btn-bg : #ff6347;
}

    #ham-button {
        display: none;
    }

    .navigation {
        flex: 1;
        width: 100%;
        justify-content: center;
    }

    .navigation a:hover {
        text-decoration: none;
        border: solid .25rem var(--primary-bg);
    }

    .navigation ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }

    .home-sections,
    .spotlights-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 0.25rem;
    align-items: stretch;
    margin-top: 2rem;
    }

    .home-sections section {
        display: flex;
        flex-direction: column;
        padding: 2rem;
        border-radius: 6px;
        height: 100%;
    }

    .current-events {
        grid-column: 1/2;
        padding: 2rem;
    }

    .current-weather {
        grid-column: 2/3;
    }

    .weather-forecast {
        grid-column: 3/4;
    }

    .current-events .events-card,
    .current-weather .weather-box,
    .weather-forecast #forecast {
        flex: 1;
    }

    .company-spotlights {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        align-items: stretch;
        justify-content: center;
    }

    .company-spotlights .spotlight img {
        width: 300px;
    }

    .company-spotlights .spotlight {
        flex-direction: column;
        text-align: center;
        height: 100%;
        max-width: 350px;
    }
}