* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    font-family: "Playfair", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
}

.logo-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-title span {
    font-size: 2rem;
    font-weight: bold;
}

.navigation {
    width: 100%;
}

#ham-button {
    display: block;
    margin-left: auto;
}

.navigation ul {
    display: none;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
}

.navigation a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.5rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    padding: 1rem;
    border-radius: 1rem;
}

.navigation.open ul {
    display: flex;
}

.hamburger {
    width: 40px;
    height: 30px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: auto;
}

.hamburger::before,
.hamburger::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
}

.hamburger::before {
    content: "\2630";
    color: whitesmoke;
    display: block;
    font-size: 2rem;
    line-height: 1;
}

.hamburger.open::before {
    content: "\00D7";
    color: red;
    font-size: 3rem;
    line-height: 1;
}

.navigation a:hover {
    border: solid .25rem #eee;
}

header,
footer {
    color: whitesmoke;
    background-color: black;
    padding: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
}

.chamber-info,
.social,
.copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chamber-info {
    align-items: flex-start;
}

.social {
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

.social a {
    border: solid .25rem transparent;
    border-radius: 35px;
    padding: 15px;
    transition: border-color 0.3s, background-color 0.3s;
}

.social a:hover {
    border: solid .25rem #eee;
    border-radius: 35px;
    padding: 15px;
}

.copyright {
    align-items: flex-end;
}
