@media (min-width: 45em) {
    #ham-button {
        display: none;
    }

    .navigation a:hover {
    border: solid .25rem #eee;
}

    .navigation ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}