@media (min-width: 64rem) {


:root {
--white: #FDFEff;
--accent-background: #FBDE53ff;
--primary-background: #CE412Dff;
--card-background: #BF4834ff;
--highlight: #F25259ff;
}

.home-sections {
    display: grid;
    grid-template-areas: 
        "locations locations"
        "events weather";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 2rem;
    justify-items: center;
    align-items: start;
    width: 100%;
    margin: 0 auto;
}

.monthly-events {
    grid-area: events;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.current-weather-container {
    grid-area: weather;
    width: 90%;
}

.weekly-locations {
    grid-area: locations;
    width: 100%;
}

#location-cards {
    display: flex;
    justify-content: center;
}

   .events {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .weekly-locations .event-card {
        width: 100%;
        text-align: left;
    }
}