:root {
--white: #FDFEff;
--accent-background: #FBDE53ff;
--primary-background: #CE412Dff;
--card-background: #BF4834ff;
--highlight: #F25259ff;
}

.hero {
    position: relative;
    width: 100%;
    height: auto;
    background-image: url('images/tacos-hero.jpg');
    max-height: 400px;
    min-height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-container {
    padding: 0 1rem;
    width: 100%;
}

.hero-image {
    width: 100%;
    height: auto;
    max-height: 600px;
    display: block;
    object-fit: cover;
}

.about-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: clamp(80%, 60vw, 800px);
    max-width: 800px;
    background-color: rgba(225, 225, 225, 0.60);
    padding: clamp(1rem, 2vw, 2.5rem);
    border-radius: 1rem;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    text-align: center;
}

.about-us {
    font-size: clamp(1rem, 2vw, 2rem);
    line-height: 1.5;
}