/*******************************************
        Table of Contents
********************************************
1. RESET & ROOT VARIABLES
2. HEADER & NAVIGATION
3. CARD STYLES (Home Page)
4. HOME PAGE
    4.1 Hero Section
    4.2 Home Sections
        4.2.a Monthly Events
        4.2.b Weather
5. MENU PAGE
6. CONTACT US PAGE
    5.1 Layout
    5.2 Form
7. DIALOG (Modal)
8. THANK YOU PAGE
9. FOOTER
*******************************************/


/*******************************************
* 1. RESET & ROOT VARIABLES
*******************************************/
* {
    font-family: "Work Sans", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
--white: #FDFEff;
--accent-background: #FBDE53ff;
--primary-background: #CE412Dff;
--card-background: #BF4834ff;
--highlight: #F25259ff;
}

/*******************************************
* 2. HEADER & NAVIGATION
*******************************************/
body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    background-color: var(--white);
    width: 100%;
    background-color: whitesmoke;

}

main {
    padding: 1rem;

}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-background);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    max-height: 250px;
    height: 100%;
    width: auto;
    display: block;
}

#ham-button {
    position: absolute;
    top: 1rem;
    right: 3rem;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#ham-button,
.hamburger {
    flex-shrink: 0;
}

.navigation {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.navigation ul {
    list-style-type: none;
    display: none;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    z-index: 5;
}

.navigation a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 2rem;
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    border-radius: 1rem;
}

.navigation.open ul {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.hamburger {
    width: 40px;
    height: 30px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: auto;
}

.hamburger::before,
.hamburger::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
}

.hamburger::before {
    content: "\2630";
    color: black;
    display: block;
    font-size: 2rem;
    line-height: 1;
}

.hamburger.open::before {
    content: "\00D7";
    color: var(--accent-background);
    font-size: 3rem;
    line-height: 1;
}

.navigation a.current {
    color: whitesmoke;
    font-weight: 700;
    text-decoration: underline;
}

.navigation a:hover {
    text-decoration: underline .25rem var(--accent-background);
}

header,
footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--primary-background);
    color: whitesmoke;
}

/*******************************************
* 4. HOME PAGE
*******************************************/

/* 4.1 Hero Section */
h1 {
    font-family: "Almendra Display", serif;
    font-size: 5rem;
    text-align: center;
}

.hero {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 120px;
    height: auto;
    background-image: url("images/tacos-hero.jpg");
    background-size: cover;
}

.hero-container {
    width: 100%;
}

.about-overlay {
    position: absolute;
    max-width: 85%;
    background-color: rgba(225, 225, 225, 0.60);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    text-align: center;
}

.about-us {
    font-size: clamp(1rem, 2vw, 2rem);
    line-height: 1.5;
}

.hero-image {
    width: 100%;
    height: 650px;
    display: block;
    object-fit: cover;
    border-radius: 1rem;
}

/* 4.2 Home Section */
.home-sections {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
}

.monthly-events,
.current-weather-container {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    /* 4.2.a Monthly Events */
    h2,
    h3 {
        font-size: 2rem;
        text-align: center;
        margin: 1rem;
    }

    .events,
    .locations {
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .event-card,
    .location-cards {
        background-color: var(--card-background);
        border: .50rem solid var(--accent-background);
        padding: .70rem;
        max-width: 1100px;
        border-radius: 1rem;
        box-shadow: 0 0 10px rgba(0,0,0,0.25);
        text-align: center;
        color: whitesmoke;
        font-family: "Work Sans", sans-serif;
        transition: transform 0.2s ease, box-shadow 0.2s ease;
        animation: fadeInUp .8s ease forwards;
    }

    .event-card:nth-child(2) {
        animation-delay: 0.15s;
    }

    .event-card:nth-child(3) {
        animation-delay: 0.30s;
    }

    .event-card:nth-child(4) {
        animation-delay: 0.45s;
    }

    @keyframes fadeInUp {
        from {
            opacity: 0;
            transform: translateY(20px)
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .member-card:hover {
        transform: scale(1.02);
        box-shadow: 0 4px 12px rgba(0,0,0,0.35);
    }

    .event-card h3 {
        font-size: 1.6rem;
        margin-bottom: .25rem;
        color: #ffffff;
    }

    .event-card .date {
        font-weight: bold;
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    .event-card button {
        padding: .5rem 1rem;
        border: none;
        border-radius: .5rem;
        background-color: var(--white);
        color: #7A0F00;
        cursor: pointer;
        font-size: 1rem;
        font-weight: bold;
    }

    .event-card button:hover {
        opacity: 0.8;
    }

    .event-card ul {
        list-style-type: disc;
        padding-left: 1.5rem;
        margin-top: 0.5rem;
        text-align: left;
        color: whitesmoke;
    }

    .event-card li {
        margin-bottom: 0.5rem;
        font-size: 1.2rem;
    }

    dialog {
        border: 1px solid rgb(0 0 0 / 10%);
        border-radius: 2rem;
        padding: 3rem;
        margin: auto;
        background: var(--white);
        box-shadow: 0 0 3rem #777;
        max-width: 600px;
    }

    dialog h2 {
        font-size: 2rem;
        text-decoration: underline;
        margin-bottom: 1rem;
    }

    dialog h2,
    dialog p.event-date,
    dialog p.evnet-location,
    dialog p.event-description {
        text-decoration: underline;
    }

    dialog p.description {
        margin-left: 1.5rem;
        margin-top: 0.5rem;
    }

    dialog p {
        margin: 0 0;
    }

    dialog p.event-date,
    dialog p.event-description {
        margin: 1rem 0 0;
    }

    ::backdrop {
        background-color: rgb(0 0 0 / 50%);
    }

    dialog button {
        position: absolute;
        top: 23px;
        right: 23px;
        padding: .5rem 1rem;
        border: 1px solid rgb(0 0 0 / 10%);
    }

    /* 4.2.b Weather */
    .current-weather-container h2 {
        display: flex;
        justify-content: center;
    }

    .current-weather-container h3 {
        display: flex;
        justify-content: center;
        padding: 1rem;
        text-decoration: underline;
        font-weight: 900;
    }

    .weather-card,
    .events-card {
        background-color: lightgray;
        border-radius: 12px;
        padding: .60rem;
        box-shadow: 0 2px 5px var(--primary-background);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #forecast {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        flex-wrap: wrap;
        justify-content: center;
    }

    .forecast-day-card {
        border-radius: 8px;
        margin-bottom: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
        min-width: 60px;
        width: 120px;
        text-align: center;
        border: 1px solid var(--primary-background);
    }

    .weather-box {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 1rem auto;
        width: 100%;
        position: relative;
        border-radius: 8px;
    }

    .weather-box img {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-shrink: 0;
    }

    .weather-box img#weather-icon {
        width: 100px;
        height: 100px;
        flex-shrink: 0;
    }

    .weather-box .weather-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .weather-box .weather-info p {
        margin: 0.25rem 0;
        font-size: 1rem;
    }

    .weather-box #current-temp {
        font-size: 2rem;
        font-weight: 400;
    }
    
.footer-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "contact social copyright";
    margin: 0 auto;
    padding: 1rem;
    gap: 2rem;
}

.social {
    grid-area: social;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    justify-self: center;
}

.contact-info {
    grid-area: contact;
    text-align: left;
    justify-self: end;
}

.copyright-text {
    grid-area: copyright;
    text-align: center;
}

.sociallinks a img {
    width: 45px;
    height: 45px;
}

/*******************************************
* 10. MENU PAGE
*******************************************/
.menu-card {
    display: grid;
    grid-template-areas: 
        "name dots price"
        "desc desc desc";
    grid-template-columns: auto 1fr auto;
    row-gap: 5px;
    align-items: center;
    background-color: var(--white);
    padding: 12px 15px;
    margin: 10px auto;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    font-family: "Work Sans", sans-serif;
    max-width: 1100px;
    border: .25rem solid var(--accent-background);
}

.menu-name {
    grid-area: name;
    font-weight: 700;
    padding: 0 5px;
    z-index: 1;
    position: relative;
}

.menu-dots {
    grid-area: dots;
    position: relative;
}

.menu-dots::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    border-bottom: 1.5px dashed #aaa;
    transform: translateY(-50%);
    z-index: 0;
}

.menu-price {
    grid-area: price;
    font-weight: 700;
    white-space: nowrap;
    text-align: right;
    position: relative;
    z-index: 1;
}

.menu-desc {
    grid-area: desc;
    color: #333;
}

.menu-name,
.menu-price {
    position: relative;
    background: var(--white);
    padding: 0 5px;
    z-index: 1;
}

/*******************************************
* 11. CONTACT US PAGE
*******************************************/
.main-layout {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    margin: 2rem;
    max-width: 400px;
}

/* 11.1 Layout */
form label {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: 600;
    margin-bottom: 0.25rem;
    margin: 1rem auto;
}

/* 11.2 Form */
form input,
form textarea {
    display: block;
    margin: 0 auto;
    width: 90%;
    max-width: 600px;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

.conf fieldset {
    margin: 1rem;
    border: solid var(--card-background);
    background-color: lightgray;
    border-radius: 6px;
    padding: 1rem 2%;
    max-width: 90%;
}

.conf label {
    display: block;
    padding: 1rem 0 0.5rem 0;
    color: rgb(5, 2, 1);
    font-size: .9rem;
}

.conf input:required:invalid,
.conf textarea:required:invalid {
    border-right: solid 8px red;
}

.conf input:required:valid,
.conf textarea:required:valid {
    border-right: solid 8px green;
}

.conf input,
.conf textarea{
    width: 50%;
    padding: .5rem;
    border-radius: 4px;
    border: none;
}

.conf textarea {
    height: 100px;
    resize: vertical;
}

input[type="submit"] {
    padding: .8rem;
    border: none;
    border-radius: 6px;
    background-image: linear-gradient(var(--primary-background), var(--accent-background));
    color: white;
    cursor: pointer;
    font-size: 1.25rem;
    display: block;
}

.conf label.check-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0;
    margin: 0 auto;
    padding: 0;
    width: 250px;
}

.conf > label:first-of-type {
    margin: 0.5rem 0 0.25rem 0;
}

form label.check-item input[type="checkbox"] {
    margin: 0;
    width: auto;
    padding: 0;
    margin: 0;
    
}

body.contact-us .main-layout {
    margin: 2rem auto;
    max-width: 600px;
}




.contact-us-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.contact-info-card {
    background-color: var(--card-background), #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 1.5rem;
    max-width: 600px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    margin-top: 3.5rem;
}

.contact-info-card h3,
.contact-info-card h4 {
    min-height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 0.75rem;
}

.contact-us-container form {
    margin: 0;
}