@media screen and (min-width: 48rem) {
    * {
        font-family: "Work Sans", sans-serif;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    :root {
    --white: #FDFEff;
    --accent-background: #FBDE53ff;
    --primary-background: #CE412Dff;
    --card-background: #BF4834ff;
    --highlight: #F25259ff;
    }

    .logo {
        margin-left: 1rem;
    }
    
    .header-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    nav.navigation {
        order: 2;
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
    }

    #ham-button {
        display: none;
    }

    .navigation ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }

    .events {
        grid-template-columns: repeat(2, 1fr);
    }

    .contact-us-container {
        display: grid;
        grid-template-areas: 
        "form box";
        justify-content: center;
        align-items: flex-start;
    }

    .contact-us-container form,
    .contact-info-card {
        flex: 1;
        max-width: 500px;
    }

}